.event {
  margin-top: 122px;
  margin-bottom: 40px;
  
  &--dark {
    .event__slide {
      background: #001547;
      color: #F2F2F2;
    }
    .title-3 {
      color: #fff;
    }
    .event__time {
      color: #83A2EC;
    }
    .more {
      color: #fff;
      
      span::after {
        background-image: url(../img/icons/arrow.svg);
      }
    }
  }
}
.event__wrap {
  position: relative;
}
.event__slide,
.event__slider {
  box-sizing: border-box;
}
.event__slide {
  width: 500px;
  height: 380px;
  background: #E6EDFF;
  border-radius: 20px;
  overflow: hidden;
}
.event__link {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  
  p {
    margin-top: 0;
  }
  .title-3 {
    margin-bottom: 20px;
    transition: ease-out 0.3s;
  }
  .title-3 + p {
    margin-top: auto;
    margin-bottom: 0;
    height: 120px;
  }
  &:hover,
  &:active {
    .more,
    .title-3 {
      color: #094DF1;
      transition: ease-out 0.3s;
    }
  }
}
.event__time {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 26px;
  color: #0043E3;
}
.event__label {
  position: absolute;
  top: 21px;
  right: 19px;
  width: 125px;
  height: 24px;
  margin: 0;
  padding: 2px 6px;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: #4775E3;
  border-radius: 12px;
  
  &--online {
    width: 78px;
    color: #333333;
    background: #FFFFFF;
  }
  &--text {
    width: auto;
    height: auto;
    top: 17px;
    color: #0043E3;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    background: none;
    border-radius: 0;
    letter-spacing: normal;
  }
}
.event__prev,
.event__next {
  width: 48px;
  height: 48px;
  top: -106px;
  margin-top: 0;
  background-image: url(../img/icons/next.svg);
  border-radius: 50%;
  
  &::after {
    display: none;
  }
}
.event__prev {
  transform: rotate(180deg);
  left: auto;
  right: 64px;
}
.event__next {
  right: 0;
}
.event__banner {
  width: 100%;
  height: 380px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
  background-image: url(../img/images/banner-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  
  p {
    margin: 0;
    max-width: 650px;
  }
  &--grey {
    color: #094DF1;
    background-image: linear-gradient(94.54deg, #FDFDFD 1.14%, #F4F4F4 102.25%);
    
    p {
      max-width: 725px;
      position: relative;
      padding-top: 80px;
      background-image: url(../img/icons/icon-2.svg);
      background-repeat: no-repeat;
      background-size: 64px 64px;
      background-position: top left;
    }
  }
}
.event__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.event__clocks {
  margin: 0;
  padding: 2px 6px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #000000;
  border-radius: 16px;
  
  span {
    position: relative;
    padding-left: 34px;
    
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-image: url(../img/icons/watch_later.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}