.form {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  
  &--cabinet {
    .form__input {
      font-size: 14px;
      color: #333;
      background-color: #fff;
    }
    .form__label {
      font-size: 12px;
      line-height: 16px;
      color: #666;
      margin-bottom: 4px;
    }
    .form__line {
      margin-bottom: 24px;
      
      .form__field {
        width: 32%;
      }
    }
    .form__field {
      margin-bottom: 29px;
    }
  }
}
.form__fields {
  padding: 24px 20px;
  margin-bottom: 8px;
  background: #FBFBFC;
  border-radius: 4px;
  
  .form__field:last-of-type {
    margin-bottom: 0;
  }
}
.form__field {
  position: relative;
  margin-bottom: 24px;
  
  &::after {
      content: "";
      position: absolute;
      bottom: 10px;
      right: 14px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      display: none;
    }
  &--verified {
    &::after {
      display: block;
      background-image: url(../img/icons/circle_check.svg);
    }
  }
  &--clock {
    &::after {
      display: block;
      background-image: url(../img/icons/watch_later.svg);
    }
  }
  &--nopass {
    &::after {
      display: block;
      background-image: url(../img/icons/eye.svg);
    }
  }
  &--pass {
    &::after {
      display: block;
      background-image: url(../img/icons/eye-closed.svg);
    }
  }
  &--error {
    .form__input {
      border-color: #EB5757;
    }
    &::before {
      content: "Это поле обязательно к заполнению";
      position: absolute;
      top: 104%;
      z-index: 10;
      left: 0;
      right: 0;
      padding-left: 16px;
      color: #EB5757;
      font-size: 12px;
      line-height: 16px;
      background-image: url(../img/icons/error.svg);
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: left center;
    }
  }
}
.form__label {
  display: block;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  
  &--pass {
    margin-bottom: 24px;
  }
  a {
    text-decoration: none;
    font-weight: 500;
    color: #094DF1;
    
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
.form__select,
.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  background-color: rgba(255,255,255,0);
  
  &::placeholder {
    color: #828282;
    opacity: 1;
  }
  &:focus {
    border-color: #094DF1;
  }
}
.form__select {
  appearance: none;
  background-image: url(../img/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px 20px;

  option[disabled] {
    display: none;
  }
  &::-ms-expand {
    color: transparent;
    border: none;
    background-color: transparent;
  }
}
.form__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  
  .form__field {
    margin-bottom: 0;
  }
}
.form__upload,
.form__checkbox {
  display: none;
}
.form__checkbox-label {
  display: block;
  position: relative;
  padding-left: 30px;
  color: #434343;
  cursor: pointer;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid rgba(51, 51, 51, 0.12);
    border-radius: 4px;
  }
}
.form__checkbox:checked + .form__checkbox-label::before {
  content: "\2713";
}
.form__link {
  font-size: 12px;
  line-height: 20px;
  color: #828282;
}
.form__btn {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 15px;
}
.form__comment {
  text-align: center;
}
.form__subtitle {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}
.form__columns {
  display: flex;
  justify-content: space-between;
}
.form__column {
  width: 50%;
}
.form__aside {
  width: 33.3%;
}
.form__password {
  display: block;
  position: relative;
  padding-left: 34px;
  font-size: 16px;
  line-height: 20px;
  color: #094DF1;
  text-decoration: none;
  
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url(../img/icons/lock.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:hover,
  &:active {
    text-decoration: underline;
  }
}
.form__photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.12);
  
  span {
    width: 178px;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
  }
}
.form__upload-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  margin-left: auto;
  font-size: 18px;
  line-height: 20px;
  color: #333;
  border: 1px solid #C1C1C1;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    color: #094DF1;
    border-color: #094DF1;
    transition: ease-out 0.3s;
  }
}
.form__ava {
  width: 70px;
  margin-right: 16px;
  
  img {
    display: block;
  }
}
.form__save {
  width: 229px;
  height: 40px;
  margin-top: 40px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px;
}
.form__disabled {
  background: #BDBDBD;
  border-color: #BDBDBD;
  pointer-events: none;
}
.form__message {
  position: absolute;
  z-index: 5;
  top: 104%;
  left: 0;
  right: 0;
  padding: 12px 18px;
  font-size: 12px;
  line-height: 16px;
  color: #333;
  background: #FFF0B0;
  border-radius: 4px;
}
.form__edit {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  width: 70px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 4px 4px;
}
.form__editbtn {
  width: 26px;
  height: 26px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #EBEBEB;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  transition: ease-out 0.3s;
  
  &--ok {
    background-image: url(../img/icons/check.svg);
    background-size: 20px 20px;
    
    &:hover,
    &:active {
      background-color: #27AE60;
      transition: ease-out 0.3s;
    }
  }
  &--cancel {
    background-image: url(../img/icons/cross.svg);
    background-size: 12px 12px;
    
    &:hover,
    &:active {
      background-color: #EB5757;
      transition: ease-out 0.3s;
    }
  }
}
.form__btns {
  display: flex;
  align-items: center;
}
.form__backbtn {
  width: 79px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  text-decoration: none;
  background: #FFFFFF;
  border: 1px solid #C1C1C1;
  border-radius: 4px;
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    color: #094DF1;
    border-color: #094DF1;
    transition: ease-out 0.3s;
  }
}
.form__unpdate {
  width: 107px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  background-color: #2F7CF0;
  border-color: #2F7CF0;
  border-radius: 4px;
}