.header {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 32px;
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(0, 34, 89, 0.1);
  border-radius: 24px;
}
.header__login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__link {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  color: #094DF1;
  font-size: 18px;
  line-height: 1.3;
  transition: ease-out 0.3s;
  
  &::after {
    content: "/";
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    display: none;
    color: #094DF1 !important;
  }
  &:not(:last-child)::after {
    display: inline-block;
  }
  &:hover,
  &:active {
    color: #16171E;
    transition: ease-out 0.3s;
  }
}
.header__user {
  display: block;
  position: relative;
  padding-right: 52px;
  color: #16171E;
  font-size: 16px;
  line-height: 19px;
  transition: ease-out 0.3s;
  
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/user.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:hover,
  &:active {
    color: #094DF1;
    transition: ease-out 0.3s;
  }
}
.header__logout {
  display: block;
  position: relative;
  padding-left: 34px;
  margin-left: 28px;
  color: #094DF1;
  font-size: 18px;
  line-height: 1.3;
  transition: ease-out 0.3s;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url(../img/icons/logout.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:hover,
  &:active {
    color: #16171E;
    transition: ease-out 0.3s;
  }
}