.login {
  width: 488px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 68px;
  
  &--reg {
    .login__logo {
      margin-bottom: 40px;
    }
    .form__checkbox-label {
      max-width: 60%;
    }
  }
  &--pass {
    .login__logo {
      margin-bottom: 44px;
    }
    .form__btn {
      margin-top: 24px;
    }
  }
}
.login__logo {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
  
  img {
    margin-right: 33px;
  }
}
.login__slogan {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #094DF1;
}
.login__subtitle {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.login__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #333;
}
.login__wrap {
  position: relative;
}
.login__comment {
  position: absolute;
  width: 330px;
  color: #828282;
  left: calc(100% + 86px);
  bottom: 150px;
  padding-top: 36px;
  font-family: 'Roboto', sans-serif;
  
  ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    
    li {
      margin-bottom: 5px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url(../img/icons/error_outline.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &--top {
    top: 5px;
    bottom: auto;
    padding-top: 0;
    padding-left: 36px;
  }
}
.login__ready {
  position: relative;
  margin-bottom: 64px;
  padding-top: 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #094DF1;
  text-align: center;
  
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 48%;
    transform: translateX(-50%);
    width: 145px;
    height: 110px;
    background-image: url(../img/icons/ready.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}