.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 30px;
  
  &:hover,
  &:active {
    .menu__link {
      color: #094DF1;
      transition: ease-out 0.3s;
    }
  }
}
.menu__link {
  font-size: 18px;
  line-height: 22px;
  color: #16171E;
  transition: ease-out 0.3s;
}
.menu-btn {
  display: none;
}