.platform {
  position: relative;
  z-index: 5;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  mix-blend-mode: normal;
  border-radius: 40px;
  background-color: #FFFFFF;
  overflow: hidden;
  
  &--top {
    margin-top: -40px;
  }
}
.platform__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  
  .title {
    width: 50%;
    margin: 0;
  }
  blockquote {
    width: 50%;
    padding: 13px 32px;
    margin: 0;
    padding-right: 110px;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    border-left: 8px solid #094DF1;
  }
  &--light {
    .title {
      line-height: 1.125;
    }
    blockquote {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
.platform__block {
  margin-bottom: 8px;
  padding: 40px 112px;
  padding-bottom: 32px;
  background: #F9F9F9;
  mix-blend-mode: normal;
  border-radius: 40px;
  
  .title-2 {
    margin-bottom: 40px;
  }
  &--bg {
    background-image: url(../img/images/bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .platform__line {
      border-top: 1px dashed #333;
    }
    .title-2 {
      margin-bottom: 48px;
    }
  }
}
.platform__tags {
  padding-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
}
.platform__tag {
  height: 64px;
  max-width: 516px;
  display: flex;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 20px;
  padding: 8px 19px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
  border: 1px solid #333333;
  border-radius: 110px;
  cursor: pointer;
}
.platform__checkbox {
  display: none;
}
.platform__checkbox:checked + .platform__tag {
  color: #F9F9F9;
  background-color: #094DF1;
  border-color: #094DF1;
}
.platform__line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
  border-top: 1px dashed #E0E0E0;
}
.platform__date {
  max-width: 275px;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: right;
  color: #333;
}
.platform__input {
  display: block;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: #FFFFFF;
  box-shadow: 0px 11px 34px rgba(36, 33, 51, 0.08);
  border-radius: 12px;
  
  &::placeholder {
    color: #828282;
  }
}
.platform__list {
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
  margin-top: 80px;
  list-style: none;
  display: flex;
}
.platform__item {
  width: 370px;
  margin-right: 32px;
  
  &:nth-child(2) {
    width: 415px;
  }
}
.platform__icon {
  width: 64px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
.platform__text {
  padding: 24px 40px;
  font-size: 20px;
  line-height: 28px;
  color: #333;
  border: 1px solid #C6D6FF;
  border-radius: 32px;
  
  p {
    margin: 0;
  }
}
.platform__mobile {
  display: none;
}