.reg {
  .title {
    margin-bottom: 32px;
    text-align: left;
  }
}
.reg__wrap {
  width: 830px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.reg__btn {
  width: 442px;
  height: 72px;
  font-size: 32px;
  line-height: 40px;
}